// esquema de colores

//primer esquema de colores
$white: #FFF;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

//segundo esquema de colores
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;


// tercer esquema de colores
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

// tipografía
$roboto: 'Roboto', sans-serif;
$playfair:'Playfair Display', serif;

// peso de fuente
$light: 300;
$regular: 400;
$bold: 700;
$black-italic: 900;

// tamaños de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
